aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
attrs==26.1.0
click==8.4.0
colorama==0.4.6
fastapi==0.136.1
ffmpeg-python==0.2.0
frozenlist==1.8.0
future==1.0.0
h11==0.16.0
idna==3.15
multidict==6.7.1
nodejs-wheel-binaries==24.15.0
propcache==0.5.2
pydantic==2.13.4
pydantic_core==2.46.4
python-multipart==0.0.29
pytubefix==10.7.2
starlette==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.47.0
yarl==1.23.0
